
<ul id="lists">
  <% @lists.each_with_index do |list, index| %>
    <% if list[:todos].size > 0 && list[:todos].all?{ |todo| todo[:completed] == true } %>
      <li class="complete">
    <% else %>
      <li>
    <% end %>
      <a href= "/lists/<%= index %>">
        <h2><%= list[:name] %></h2> 
          <p><%= count_incomplete_todo_items(list) %>/<%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do%>
  <a class="add" href="/lists/new">New List</a>
<% end %>